*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #1F2528;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}
body{
    background: #A42528;
}
a{
    color: #1F2528;
    text-decoration: none;
}
.lpcontents{
    width: 80%;
    margin: 0 auto;
}
.only-desktop{
    display: block;
}
.only-mobile{
    display: none;
}
.fv{
    margin: 0 0 80px 0;
}
.fv__inner > img{
    width: 100%;
}
.topoffer{
    margin: 0 0 80px 0;
}
.topoffer__inner{
    width: 80%;
    margin: 0 auto;
    border: 1px solid #888888;
    border-radius: 10px;
    background: #fff;
}
.topoffer__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.topoffer__content > img{
    width: 45%;
    border-radius: 10px;
}
.topoffer__content-txt{
    width: 45%;
    padding: 20px 5%;
    text-align: center;
}
.topoffer__content-txt > h2{
    margin: 0 0 5px 0;
    font-size: 1.0rem;
    font-weight: 100;
}
.topoffer__content-txt > h1{
    margin: 0 0 10px 0;
    padding: 0 0 5px 0;
    font-size: 1.4rem;
    border-bottom: 1px solid #888888;
}
.topoffer__content-txt > P{
    margin: 5px 0;
}
.topoffer__content-button{
    width: 50%;
    margin: 20px auto 0 ;
    padding: 5px 5%;
    background: #A42528;
    border-radius: 20px;
}
.topoffer__content-button > a{
    color: #fff;
}
.menu{
    width: 80%;
    margin: 0 auto 80px;
}
.menu__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}
.menu__content{
    width: 24%;
    text-align: center;
}
.menu__content > img{
    margin: 0 0 10px 0;
}
.menu__content > p{
    color: #fff;
}
.about{
    width: 60%;
    margin: 0 auto 80px;
    padding: 40px 3%;
    border: 1px solid #888888;
    border-radius: 20px;
    background: #fff;
}
.about__content > h2{
    font-size: 1.1rem;
    font-weight: 100;
    text-align: center;
}
.about__content > h1{
    margin: 0 0 20px 0;
    font-size: 1.4rem;
    text-align: center;
}
.about__content > p{
    margin: 0 0 40px 0;
    padding: 0 8%;
    line-height: 1.8;
}
.about__content-menu{
    padding: 0 8%;
}
.about__content-txt{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.about__content-txt{
    line-height: 2.8;
}
.about__content-txt > h4{
    width: 20%;
    color: #A42528;
}
.time{
    width: 66%;
    margin: 0 auto;
}
table{
    width: 100%;
    margin: 0 0 80px 0;
    background: #fff;
}
table th{/*thに対して*/
    padding: 5px 0;
    color: #fff;/*文字色*/
    background: #1F2528;/*背景色*/
    text-align: center;
}
table td{
    padding: 8px 0;
}
.speakers{
    width: 66%;
    margin: 0 auto 80px;
}
.speakers__content > img{
    width: 100%;
}
.speakers__content-bg{
    padding: 100px 5% 50px;
    background-size: 100%;
    border: 1px solid #888888;
    border-radius: 20px;
    background: #fff;
}
.speakers__content-box{
    margin: 0 auto;
    padding: 20px 10%;
}
.speakers__content-box-top-box{
    width: 40%;
    margin: 0 0 40px 0;
}
.speakers__content-box-top-img{
    width: 50%;
    text-align: right;
}
.speakers__content-box-top-img > img{
    width: 100%;
}
.speakers__content-box-top-box > h3{
    text-align: center;
    font-size: 4.0rem;
    letter-spacing: 0.4rem;
}
.speakers__content-box{
    height: 700px;
    background: url("./image/speaker-inner.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.speakers__content-box-top{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 13% 0 2%;
}
.speakers__content-box-under{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 13% 0 1%;
}
.title{
    width: 30%;
    padding: 5px 5%;
    text-align: center;
    background: #1F2528;
    color: #fff;
}
.u-r{
    width: 51%;
}
.w-100{
    width: 100%;
    margin: 0 0 50px 0;
}
.w-100 > img{
    width: 100%;
}
.tickets{
    width: 60%;
    margin: 0 auto 80px;
    padding: 20px 3%;
    border: 1px solid #333333;
    border-radius: 20px;
    background: #fff;
}
.tickets__content{
    text-align: center;
}
.tickets__content > h3{
    margin: 0 0 20px 0;
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
}
.tickets__content-txt{
    margin: 10px 0;
    line-height: 1.8;
}
.tb{
    font-size: 1.5rem;
    font-weight: bold;
}
.tickets__content-button{
    width: 40%;
    margin: 20px auto 0 ;
    padding: 5px 5%;
    background: #A42528;
    border-radius: 20px;
}
.tickets__content-button > a{
    color: #fff;
}
.map{
    width: 66%;
    margin: 0 auto 80px;
}
.footer{
    width: 60%;
    margin: 0 auto;
    padding: 20px 3%;
    border: 1px solid #333333;
    border-radius: 20px;
    background: #fff;
}
.footer__inner{
    padding: 0 10%;
}
.footer__content > h1{
    margin: 0 0 20px 0;
    font-size: 1.2rem;
}
small{
    font-size: 0.4rem;
}

@media screen and (max-width: 768px) {
    .only-desktop{
        display: none;
    }
    .only-mobile{
        display: block;
    }
    .lpcontents {
        width: 95%;
    }
    .topoffer__inner {
        width: 100%;
    }
    .topoffer__content > img {
        width: 100%;
    }
    .topoffer__content-txt {
        width: 100%;
    }
    .menu {
        width: 100%;
    }
    .menu__content {
        width: 48%;
        margin: 8px 0;
    }
    .about {
        width: 100%;
        padding: 40px 0;
    }
    .about__content-txt > h4 {
        width: 100%;
    }
    .time {
        width: 100%;
    }
    .speakers {
        width: 100%;
    }
    .tickets {
        width: 100%;
        padding: 20px 0;
    }
    .map{
        width: 100%;
    }
    .footer {
        width: 100%;
        padding: 20px 0;
    }
    .footer__inner {
        padding: 0 5%;
    }
    .speakers__content-box_sp{
        height: 800px;
        background: url("./image/speaker-inner_sp.png");
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .speakers__content-bg {
        padding: 50px 5% 30px;
    }
    .speakers__content-box-top-box > h3 {
        margin: 5px 0 10px 0;
        text-align: center;
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
    }
    .speakers__content-box-top{
        flex-wrap:wrap-reverse;
    }
    .speakers__content-box-top-img {
        width: 100%;
    }
    .speakers__content-box-top-box {
        width: 100%;
        margin: 0 0 20px 0;
    }
    .title {
        width: 90%;
        margin: 0 0 20px 0;
    }
    .u-r {
        width: 100%;
    }
}

@media screen and (max-width: 374px) {
    .speakers__content-box_sp{
        height: 850px;
        background: url("./image/speaker-inner_sps.png");
        background-repeat: no-repeat;
        background-size: 100%;
    }
}

